/*index*/

.page{
    background-color: rgb(62,19,6);
    font-family: 'Courier New', Courier, monospace;
    
}
.header{
    color: rgb(253, 219, 187);
    text-shadow: 1px 2px 0 rgb(179,143,67);
}

.list{
    background-color: rgb(198,56,19);
    color: rgb(253, 219, 187);
}


/*ggsalad*/

.ggpage{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(72, 98, 35);
    
}
#ggsalad{
    color: rgb(208,222,11);
}
.ggheader{
    color:rgb(250,211,4) ;
    text-shadow: 1px 2px 0 #000;
}

.ggli, .gginfo{
    color:  rgb(238,162,1) ;
    background-color:  rgb(115,155,58);
    text-shadow: 1px 1px 0 #000 ;
    font-weight: 800;
}

/*tofu*/

.tfpage{
    background-color: rgb(197,169,154);
    font-family: 'Courier New', Courier, monospace;
}

.litf, .tfp{
    background-color:  rgb(240, 120, 83);
    color:  rgb(254,237,217);
    text-shadow: 1px 2px 0 rgb(197,169,154);
    font-weight: 800;

}

.tfheader{
    color: rgb(225,225,225);
    text-shadow: 1px 2px 0 #000;

}

#tofulink{
    color:rgb(244,120,5);
    text-shadow: 1px 1px 0 rgb(89, 75, 68);
}

/*sourdough*/

.bbpage{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(176,104,51);
}

.libb, .bbp{
    background-color:rgb(249,224,186);
    color:  rgb(92,29,7);
    text-shadow: 1px 1px 0 rgb(197,169,154);
    font-weight: 800;

}

.bbheader{
    color: rgb(225,225,225);
    text-shadow: 1px 2px 0 #000;

}

#bblink{
    color:rgb(249,224,217);
    text-shadow: 1px 1px 0 rgb(89, 75, 68);
}


/*all links*/
a{
    font-weight: 800;
   color: rgb(253, 219, 187);
   
}

a:visited {  
    color: (253, 219, 187);
}
a:hover { 
    color: (253, 219, 187);
}



